<div class="container-fluid">
    <div class="row">

        <!-- Coluna do perfil -->
        <div class="col-md-3">
            <div class="row d-flex justify-content-center my-5">

                <div class="card d-flex flex-column font-nome align-items-center borda-arredondada borda-sombreada"
                    style="width: 18rem;">

                    <!-- Imagem de perfil-->
                    <img src="../../assets/logo-hamburgueria-logos.jpg" alt="Imagem de User" class="mt-4 img-fluid rounded-circle"
                     height="100px" width="100px"  alt="minha foto de perfil">

                    <!-- Card body-->
                    <div class="card-body d-flex flex-column align-items-center">

                        <h5 class="text-center fonte-nome">Hamburgueria</h5>
                        <h6 class="text-center fonte-nome">Endereço: Rua Tavalares, 205</h6>

                        <a [routerLink]="['/usuario-edit']" class="text-black" style="text-decoration: none;">
                            <i class="fa fa-cog row d-flex mx-2 mb-4" aria-hidden="true"></i>
                        </a>


                        <button type="button" class="btn fundo-amarelo fonte-preto fw-bold w-100 my-2"
                            data-bs-toggle="modal" data-bs-target="#novaPostagem">Editar Perfil</button>

                        <a routerLink="/tema" data-bs-dismiss="modal" data-bs-target="#my-modal"><button
                                class="btn fundo-preto text-white w-100 my-2"> Todos os temas </button>
                        </a>


                        <button class="btn fundo-cinza-claro text-white w-100 my-2"
                            [routerLink]="['/usuario-edit']">Editar usuário

                        </button>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Coluna do perfil -->


        <!-- Coluna das postagens -->
        <div class="col-md-6">


            <div class="container my-5" id="postagens">
                <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active text-secondary fw-bold" id="nav-todasPostagens-tab"
                            data-bs-toggle="tab" data-bs-target="#todasPostagens" type="button" role="tab"
                            aria-controls="todasPostagens" aria-selected="true">Mercado de Trabalho</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-secondary fw-bold" id="nav-minhasPostagens-tab"
                            data-bs-toggle="tab" data-bs-target="#minhasPostagens" type="button" role="tab"
                            aria-controls="minhasPostagens" aria-selected="false">Minhas postagens</button>
                    </li>

                </ul>


                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                        aria-labelledby="todasPostagens-tab">

                        <!-- Pesquisar por título -->
                        <div class="row d-flex justify-content-center mt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="titulo"
                                        placeholder="Pesquisar por título de postagem" 
                                       >
                                </div>
                            </div>
                        </div>
                        <!-- /Pesquisar por título -->


                        <!-- Todas as postagens -->
                        <div class="container w-100">
                            <div class="row row-cols-1 row-cols-md-12 g-4 mt-2">
                                <!-- Card -->
                                <div class="col mb-3">
                                    <div class="card borda-arredondada borda-sombreada">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3 d-flex flex-column align-items-center text-center">

                                                    <img src="../../assets/logo-hamburgueria-logos.jpg" alt="" width="75px" height="75px"
                                                        class="mt-3  rounded-circle">
                                                    <small
                                                        class="text-muted mt-2"><strong>Hamburgueria</strong></small>
                                                    <small class="text-muted mt-2">09/02/2022</small>
                                
                                                </div>

                                                <div class="col-md-9">
                                                    <h4 class="card-title">Gostaria de fazer um site</h4>
                                                    <p class="fst-italic fw-lighter">Tema: Site</p>
                                                    <p class="card-text">Alguém, pode me ajudar a fazer um site</p>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Card-->
                            </div>
                        </div>
                        <!-- /Todas as postagens -->
                    </div>

                    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel"
                        aria-labelledby="minhasPostagens-tab">

                        <!-- Pesquisar por título -->
                        <div class="row d-flex justify-content-center mt-4">
                            <h3 class="text-center">Postagens de Hamburgueria</h3>
                        </div>
                        <!-- /Pesquisar por título -->

                        <!-- Minhas postagens -->
                        <div class="container w-100">
                            <div class="row row-cols-1 row-cols-md-12 g-4 mt-2">
                                <!-- Card -->
                                <div class="col mb-3" >
                                    <div class="card borda-arredondada borda-sombreada">
                                        <div class="card-body">
                                            <h4 class="card-title"></h4>
                                            <p class="fst-italic fw-lighter">Tema: </p>
                                            <p class="card-text">textooooooooooooo</p>
                                            <div class="card-footer">
                                               
                                                <a [routerLink]="['/postagem-edit']"
                                                    class="btn btn-amarelo fonte-preta mx-2">Editar</a>
                                                <a [routerLink]="['/postagem-delete']"
                                                    class="btn btn-preto mx-2">Apagar</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Card-->
                            </div>
                        </div>
                        <!-- /Minhas postagens -->
                    </div>

</div>

